<ion-view title="Inicio" id="page3">
    <ion-content padding="true" class="has-header">
        <h1 id="inicio-heading2" style="color:#000000;text-align:center;">Realidad virtual</h1>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <form id="inicio-form3" class="list">
            <label class="item item-input" id="inicio-input4">
                <span class="input-label">Servidor</span>
                <input type="text" placeholder="" ng-model="inicioCtrl.servidor">
            </label>
            <div class="spacer" style="width: 300px; height: 27px;"></div>
            <label class="item item-select" id="inicio-select1" name="figura">
                <span class="input-label">Figura</span>
                <select ng-model="inicioCtrl.figura"> 
                    <option value="cubo">Cubo</option>
                    <option value="rombo">Rombo</option>
                    <option value="cono">Cono</option>
                </select>
            </label>
            <label class="item item-select" id="inicio-select2" name="color">
                <span class="input-label">Color</span>
                <select ng-model="inicioCtrl.color">
                    <option value="0xff0000">Rojo</option>
                    <option value="0x00FF00">Verde</option>
                    <option value="0xFFFF00">Amarillo</option>
                    <option value="0x0101DF">Azul</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 27px;"></div>
            <label class="item item-select" id="inicio-select3" name="posY">
                <span class="input-label">POS-X</span>
                <select ng-model="inicioCtrl.posX"> 
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </label>
            <label class="item item-select" id="inicio-select4" name="posZ">
                <span class="input-label">POS-Z</span>
                <select ng-model="inicioCtrl.posZ">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <a id="inicio-button20" class="button button-positive  button-block" ng-click="inicioCtrl.submit()">Conectarse</a>
    </ion-content>
</ion-view>
