<ion-view title="VR" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="contenidoVr">
        </div>
        <div id="vR-button-bar3" class="button-bar">
            <button id="vR-button19" class="button button-positive  button-block" ng-click="moverCamaraIzquierda()">&lt;-</button>
            <button id="vR-button10" class="button button-positive  button-block" ng-click="moverCamaraArriba()">^</button>
            <button id="vR-button11" class="button button-positive  button-block" ng-click="moverCamaraAbajo()">v</button>
            <button id="vR-button12" class="button button-positive  button-block" ng-click="moverCamaraDerecha()">-&gt;</button>
        </div>
	<div id="vR-button-bar4" class="button-bar">
             <button id="vR-button29" class="button button-positive  button-block" ng-click="moverCamaraAdelante()">Ad-</button>
             <button id="vR-button20" class="button button-positive  button-block" ng-click="moverCamaraAtras()">At</button>
             <button id="vR-button21" class="button button-positive  button-block" ng-click="moverCamaraRotXPos()">v</button>
             <button id="vR-button22" class="button button-positive  button-block" ng-click="moverCamaraRotXNeg()">-&gt;</button>
         </div>

        <button id="vR-button21" class="button button-positive  button-block" ng-click="desconectarse()">Desconectarse</button>
    </ion-content>
</ion-view>
